/* Added an image to be shared by all 3 pages */
body{
    background-image: url(https://i.pinimg.com/originals/bb/61/8d/bb618db7d825e2e03c8d86f781a65e06.jpg);
}

.jumbotron {
    max-width: 1100px;
    max-height: 900px;
    margin-top:50px;
    margin-bottom: 50px;
    margin-left: 25px;
}
/* To wrap the text around the image */
.img-fluid {
    float: left;
    margin-left: 35px;
    margin-right: 35px;
    width: 30%;
}

.wrap {
    font-family: 'Roboto Slab', serif;
    font-size: 26px;
    max-width: 70%;
}